<div class="bbm-modal__topbar">
  <h3 class="bbm-modal__title">从你的弃牌堆中选择一张卡片。</h3>
  <span class="btn-sub bbm-close">完成</span>
</div>
<div class="bbm-modal__section">
  {{#each medicDiscard.cards as |val key|}}
  {{>card val}}
  {{/each}}
</div>
